<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/carlosure.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/index.css') }}"
/>

<body>
  {% import "navbar.html" as components %} {{ components.navbar() }} {% import
  "message.html" as msgcomp %} {{ msgcomp.message() }}

  <div>
    <div style="margin: 0 auto; width: 70%; text-align: center">
      <h1>Welcome to Fresh Veggie Shop</h1>
      <img
        src="{{
            url_for('static', filename='images/carrot.jpg')
          }}"
        alt="carrot"
      />

      <img
        src="{{
            url_for('static', filename='images/tomato.jpg')
          }}"
        alt="tomato"
      />
    </div>
  </div>
</body>
