<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/index.css') }}"
/>

<!-- nav bar -->

<div class="nav-bar">
  <ul>
    <li>
      <a href="{{ url_for('home') }}"> Home </a>
    </li>
    <li><a href="{{ url_for('veggie.veggie') }}">View all Veggie</a> </li>
    <li><a href="{{ url_for('premadebox.premadebox') }}">Choose you PremadeBox</a> </li>
    <li><a href="{{ url_for('login.login') }}">Login</a> </li>
    <li><a href="{{ url_for('logout.logout') }}">logout</a></li>
  </ul>
</div>

<!-- Body -->
<div class="main-page-container">
  <div class="carlosure">
    <img src="" alt="" />
  </div>
</div>
<div class="footer">foorter</div>
