


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.main-page-container {
    text-align: center;
    padding: 20px;
    height: 80vh; 
}



.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.flash-messages {
    margin: 20px auto;
    text-align: center;
    width: 500px;
}

.flash-message {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.flash-message.success {
    background-color: #4CAF50; 
}

.flash-message.warning {
    background-color: #ffcc00; 
    color: black;
}


.flash-message.info {
    background-color: #007bff; 
}

.flash-message.error {
    background-color: #f44336; 
}
