.account-content--container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .staff-dashboard-card {
    /* Style your cards here */
    padding: 5px;
    margin: 10px;
    text-align: center;
  }
  
  .staff-dashboard-card a {
    text-decoration: none;
    color: #333;
  }
  
  .staff-dashboard-card button {
    /* Style your buttons here */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
