<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/order_details.css') }}"
/>

<body>
  {% import "navbar.html" as components %} {{ components.navbar() }}
  <div class="order-details">
    <h1>Order {{order.orderId}} details</h1>

    <div class="section">
      <p>Order Id</p>
      <p>{{order['orderId']}}</p>
    </div>

    <!--  -->
    <div class="section">
      <div class="order-status">
        <p>Order Status</p>
        <p>{{order['orderStatus']}}</p>
      </div>
      <div>
        <form method="POST" action="{{ url_for('order.updateStatus', id = order['orderId']) }}">
        <select id="order-status" name="order-status">
          <option value="paid">Paid</option>
          <option value="shipping">Shipping</option>
          <option value="deliveried">Deliverd Account</option>
          <option value="canceled">Canceled</option>
        </select>
        <button type="submit">Update Order Status</button>
      </form>
      </div>
    </div>

    <div class="section">
      <p>Order Cutsomer</p>
      {{customer.userName}}
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Premade Box ID</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        {% for detail in details %}

        <tr>
          <td>
            {{ detail['vegName'] if detail['vegName'] is not none else '' }}
          </td>
          <td>{{ detail['orderQuantity'] }}</td>
          <td>
            {{ detail['pricePerPack'] or detail['pricePerKilo'] or
            detail['pricePerUnit'] }}
          </td>
          <td>
            {{ detail['premadeBoxId'] if detail['premadeBoxId'] is not none
            else'' }}
          </td>
          <td>
            $ {{ (detail['orderQuantity'] * (detail['pricePerPack'] or
            detail['pricePerKilo'] or detail['pricePerUnit'])) | round(2) }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
