<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/index.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/order_by_cust_id.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/user_details.css') }}"
/>

{% import "navbar.html" as components %} {{ components.navbar() }}
<div class="order-table-container">
  <h2 class="order-title">Current Order Information</h2>
  {% import "message.html" as msgcomp %} {{ msgcomp.message() }}
  <div>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Order Date</th>
          <th>Order Status</th>
          <th>change Order</th>
          <th>Order Details</th>
        </tr>
      </thead>
      <tbody>
        {% for order in current_orders %}
        <tr>
          <td>{{ order.orderId }}</td>
          <td>{{ order.orderDate }}</td>
          <td>{{ order.orderStatus }}</td>
          <td>
            <form
              method="POST"
              action="{{ url_for('order.cancleOrder', id = order.orderId) }}"
            >
              <button type="submit">Cancel Order</button>
            </form>
          </td>
          <td>
            <a href="{{ url_for('order.details', id = order.orderId) }}">
              <button>Order Details</button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="order-table-container">
  <h2 class="order-title">Previous Order Information</h2>
  <div>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Order Date</th>
          <th>Order Status</th>
          <th>change Order</th>
          <th>Order Details</th>
        </tr>
      </thead>
      <tbody>
        {% for order in previous_orders %}
        <tr>
          <td>{{ order.orderId }}</td>
          <td>{{ order.orderDate }}</td>
          <td>{{ order.orderStatus }}</td>
          <td></td>
          <td>
            <a href="{{ url_for('order.details', id = order.orderId) }}">
              <button>Order Details</button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
